﻿@font-face {
	font-family: "Montserrat"
	scr: url("./font/Montserrat-regular.woff") format("woff");
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
    
}

header h1:hover {
     transition: padding 5s linear;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
	   transition: padding 1s linear;
}
header h1,
header nav:hover {
	color: gray;

}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
	padding:40px;
	opacity: 1;
	transition: padding 5s linear;
   }

section img:hover {
	opacity: 0;
	padding-bottom: 90px;
}
 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 	transition: color 1s linear;
 }
section p a:hover {
	color: grey;
}